%script{ :type => 'text/html', :id => 'plugins_list' }

  %p.empty{ :style => 'display: block' }!= t('.empty')

  %ul{ :style => 'display: none' }

%script{ :type => 'text/html', :id => 'plugin_entry' }

  .col
    = hidden_field_tag 'site[plugins][][plugin_id]', '{{plugin_id}}',
      :class => 'plugin_id'

  - if can?(:enable, Locomotive::PluginData)
    .col
      = check_box_tag 'site[plugins][][plugin_enabled]', '1', false,
        :id => 'site_plugins_{{plugin_id}}_enabled',
        :class => 'plugin_enabled'

  .col
    %strong {{plugin_name}}

  %span.actions
    %a.toggle.open{ :href => '#', :title => 'toggle' }
      %i.icon-caret-down

  .clear
